{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" style="padding-top: 120px; padding-bottom: 4rem; max-width: 800px;">
    <h1 style="margin-bottom: 2rem;">About the Institute</h1>

    <p style="font-size: 1.2rem; margin-bottom: 2rem;">
        United Services Institute(USI) is the oldest and leading academic institution dedicated to the study of
        conflict, security and geopolitics.

        Since our foundation in AC292 by the Decree of Parliament, USI had continously produced in-depth
        analyses
        on emerging military issues, defence management, procurement and doctrine for policies maker and militar
        planners.
    </p>

    <p style="margin-bottom: 2rem; color: #ccc;">
        "De Re Militari" is a seasonal publication of the United Services Institute. It is a collection of articles,
        analysis, and commentary on the emerging military issues and trends.
    </p>

    <div style="background: var(--color-primary); padding: 2rem; border-left: 4px solid var(--color-primary);">
        <h3>Mission Statement</h3>
        <p style="margin-top: 1rem;">
            To analyse, educate, and preserve the lessons of defense, security and geopolitics for the benefit of the
            global community.
        </p>
    </div>
</div>
{% endblock %}